*
{
	margin:0px;
	padding:0px;
}
#wrap
{
	height:auto;
	width:1300px;
	margin:auto;
	//border:2px solid red;
	overflow:hidden;
}
#top
{
	height:400px;
	width:1300px;
	font-size:90px;
	background-image:url(home/boxed-water-is-better-1464075-unsplash.jpg);
	background-size:cover;
	text-align:center;
	background-position:center;
	color:#000;
	
	
}

